# compiled output
.eslintcache
dist
node_modules

# logs
logs
*.log
npm-debug.log*

# tests
coverage

# IDEs and editors
*.launch
.vscode
.project
.settings

# env
.env.local
.env.development.local
.env.test.local
.env.production.local
